# ===== COMMON =====
DEBUG=false
ALLOWED_HOSTS=localhost,127.0.0.1

# ===== DATABASE =====
DATABASE_URL=postgresql://cakto_prod:change-me@db:5432/cakto_prod
DB_PASSWORD=change-me-in-production

# ===== SECURITY =====
SECRET_KEY=change-me-in-production

# ===== STAGING =====
STAGING_SECRET_KEY=change-me-in-staging

# ===== DOCKER =====
DOCKER_USERNAME=your-docker-username