# ===== COMMON =====
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,testserver

# ===== DATABASE =====
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cakto_dev
DB_USER=dev
DB_PASSWORD=dev
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# ===== POSTGRES INIT =====
POSTGRES_DB=${DB_NAME}
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}

# ===== SECURITY =====
SECRET_KEY=
PORT=